body {
    background-color: #0E1323 !important;
}

.tcw {color: white !important;}

.bg1 {background-color: #FF8B64 !important;}

.bg2 {background-color: #55C2E6 !important;}

.bg3 {background-color: #FF5E7D !important;}

.bg4 {background-color: #4BCF82 !important;}

.bg5 {background-color: #7335D2 !important;}

.bg6 {background-color: #F1C75B !important;}

.bgCR {background-color: #1C204B !important;}

.bgLC {background-color: #5747EA !important;}

.cr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.mgT {
    margin-top: 80px;
}

.mg2 {
    margin-top: 200px;
}

.mt3 {
    margin-top: 0px;
}

.gp {
    gap: 30px;
}

.cl3-1 {
    grid-column: span 2;
}

.clo1 {
    width: 100%;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}

.card {
    width: 100%;
}

.Jr-ic{
    width: 10%;
}

@media (max-width: 1000px) {
    .cards-grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .cl3-1 {
        grid-column: span 1;
    }
    
    .cr {
        width: 100%;
    }
    
    .clo1 {
        width: 100%;
    }

    .mt3{
        margin-top: 10px;
    }    
}