body{
    background-color: #0E1323 !important;
}

.tcw{
    color: white !important;
}

.bg1{
    background-color: #FF8B64 !important;
}

.bg2{
    background-color: #55C2E6 !important;
}

.bg3{
    background-color: #FF5E7D !important;
}

.bg4{
    background-color: #4BCF82 !important;
}

.bg5{
    background-color: #7335D2 !important;
}

.bg6{
    background-color: #F1C75B !important;
}

.bgCR{
    background-color: #1C204B !important;
}

.bgLC{
    background-color: #5747EA !important;
}

.cr{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.mgT{
    margin-top: 80px;
}

.mg2{
    margin-top: 200px;
}

.mt3{
    margin-top: 10px;
}

.gp{
    gap: 30px;
}

.cl3{
    width: 25% !important;
    box-sizing: border-box !important;
}

.cl3-1{
    width: 25% !important;
    box-sizing: border-box !important;
}

.cl8{
    width: 66.66% !important;
    box-sizing: border-box !important;
}

.clo1{
    width: 100%;
}

@media (max-width: 1000px) {
    .cl3{
        width:100% !important;
    }
    .cl3-1{
        width: 100% !important;
    }
    .cl8{
        width:100% !important;
    }
    .container{
        margin-right:auto !important;
        margin-left: auto !important;
    }
    .clo1{
        width: 33%;
    }
}